<nz-table #basicTable [nzData]="quanhuyenList" [nzPageSize]="meta?.pageSize" [nzTotal]="meta?.totalCount" [nzPageIndex]="meta?.currentPage" [nzFrontPagination]="false" 
[nzShowSizeChanger]=true [nzShowQuickJumper]=true (nzPageIndexChange)="abc($event)" >
  <thead>
    <tr>
      <th>Mã Quận Huyện</th>
      <th>Tên Quận Huyện</th>
      <th>Tên Thành phố </th>
      <th>Action</th>
      <th>
        <button nz-button [nzType]="'primary'" (click)="showAdd()"><span>Thêm
            mới</span></button>
        <nz-modal [(nzVisible)]="isVisible2" [nzTitle]="modalTitleNew" nzOkLoading="true" [nzContent]="modalContentNew" [nzFooter]="modalFooter"
          (nzOnCancel)="handleCancel()">
          <ng-template #modalTitleNew>Thêm Mới</ng-template>
          <ng-template #modalContentNew>
            <form nz-form>
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Tên Thành Phố:</nz-form-label>
                <nz-form-control [nzSm]="18" [nzXs]="24">
                  <nz-select [(ngModel)]="MaTp" [ngModelOptions]="{standalone: true}" nzPlaceHolder="Chọn Thành Phố">
                    <nz-option *ngFor="let item of thanhPhoList" [nzValue]="item.maTp" nzLabel={{item.tenTp}}>
                    </nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Tên Quận Huyện</nz-form-label>
                <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Nhập tên quận huyện!">
                  <input nz-input [(ngModel)]="TenQuanHuyen" [ngModelOptions]="{standalone: true}" />

                </nz-form-control>
              </nz-form-item>
            </form>
          </ng-template>
          <ng-template #modalFooter>
            <button nz-button nzType="default" (click)="handleCancel()">Hủy</button>
            <button nz-button nzType="primary" (click)="submitadd()">Thêm Mới</button>
          </ng-template>

        </nz-modal>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dataitem of basicTable.data ">
      <td>{{dataitem.maQuanHuyen}}</td>
      <td>{{dataitem.tenQuanHuyen}}</td>
      <td>{{dataitem.thanhPho.tenTp}}</td>
      <td><button (click)="showModal(dataitem)"><i nz-icon nzType="edit" nzTheme="outline"></i> Update</button>&nbsp;
        <button (click)="deleteClick(dataitem.maQuanHuyen)"><i nz-icon nzDanger nzType="delete" nzTheme="outline" [nzSpin]=true
            ></i>Delete</button>
      </td>
    </tr>
  </tbody>
</nz-table>
<nz-modal [(nzVisible)]="isVisible" [nzTitle]="modalTitleSua" [nzContent]="modalContentSua" [nzFooter]="modalFooterSua"
  (nzOnCancel)="handleCancel()">
  <ng-template #modalTitleSua>Sửa</ng-template>
  <ng-template #modalContentSua>
    <form nz-form>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Tên Thành Phố:</nz-form-label>
        <nz-form-control [nzSm]="18" [nzXs]="24">
          <nz-select [(ngModel)]="MaTp" disabled [ngModelOptions]="{standalone: true}">
            <nz-option *ngFor="let item of thanhPhoList" [nzValue]="item.maTp" nzLabel={{item.tenTp}}>
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Tên Quận Huyện</nz-form-label>
        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Nhập tên quận huyện!">
          <input nz-input [(ngModel)]="TenQuanHuyen" [ngModelOptions]="{standalone: true}"
            (keypress)="onKeyUpdate($event)" />
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-template>
  <ng-template #modalFooterSua>
    <button nz-button nzType="default" (click)="handleCancel()">Hủy</button>
    <button nz-button nzType="primary" (click)="updateQuanHuyen()">Sửa</button>
  </ng-template>
</nz-modal>